.selectize-control {
	position: relative;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
	cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
	cursor: text;
}

.selectize-control.single .selectize-input:after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 36px;
	margin-top: 0;
	padding: 0 3px;
	border-left: 1px solid rgba(0, 0, 0, 0.06);
	font-family: dashicons;
	line-height: 36px;
	content: "\f347";
}

.selectize-control.single .selectize-input.dropdown-active:after {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	content: "\f343";
}

.selectize-control.single .selectize-input.disabled {
	opacity: 0.5;
	background-color: #fafafa;
}

.selectize-control.single.rtl .selectize-input:after {
	right: auto;
	left: 15px;
}

.selectize-control.rtl .selectize-input > input {
	margin: 0 4px 0 -2px !important;
}

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
	visibility: visible !important;
	border: 0 none !important;
	background: #f2f2f2 !important;
	background: rgba(0, 0, 0, 0.06) !important;
	box-shadow: inset 0 0 12px 4px #fff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
	visibility: hidden;
	content: "!";
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-control.plugin-remove_button [data-value] {
	position: relative;
	padding-right: 24px !important;
}

.selectize-control.plugin-remove_button a.remove {
	display: inline-block;
	/* fixes ie bug (see #392) */
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 17px;
	padding: 2px 0 0;
	border-left: 1px solid #d0d0d0;
	color: inherit;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.selectize-control.plugin-remove_button a.remove:hover {
	background: rgba(0, 0, 0, 0.05);
}

.selectize-control.plugin-remove_button.active a.remove {
	border-left-color: #cacaca;
}

.selectize-control.plugin .disabled [data-value] .remove:hover {
	background: none;
}

.selectize-control.plugin .disabled [data-value] .remove {
	border-left-color: #fff;
}

.selectize-control.multi .selectize-input {
	min-height: 36px;
}

.selectize-control.multi .selectize-input.has-items {
	padding: 6px 8px 3px;
}

.selectize-control.multi .selectize-input > div {
	margin: 0 3px 3px 0;
	padding: 2px 6px;
	border: 0 solid #d0d0d0;
	color: #303030;
	background: #f2f2f2;
	cursor: pointer;
}

.selectize-control.multi .selectize-input > div.active {
	border: 0 solid #cacaca;
	color: #303030;
	background: #e8e8e8;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
	border: 0 solid #fff;
	color: #7d7d7d;
	background: #fff;
}

.selectize-dropdown {
	position: relative;
	z-index: 10;
	z-index: 999;
	top: -4px !important;
	box-sizing: border-box;
	margin: -1px 0 0;
	border: 1px solid #d0d0d0;
	border-top: 0 none;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.selectize-dropdown-header {
	position: relative;
	padding: 5px 8px;
	border-bottom: 1px solid #d0d0d0;
	background: #f8f8f8;
}

.selectize-dropdown-header-close {
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -12px;
	opacity: 0.4;
	color: #303030;
	font-size: 20px !important;
	line-height: 20px;
}

.selectize-dropdown-header-close:hover {
	color: #000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
	float: left;
	box-sizing: border-box;
	border-top: 0 none;
	border-right: 1px solid #f2f2f2;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
	border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
	display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
	border-top: 0 none;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: #303030;
	font-family: inherit;
	font-size: 13px;
	-webkit-font-smoothing: inherit;
	line-height: 18px;
}

.selectize-control.single .selectize-input.input-active,
.selectize-input {
	display: inline-block;
	background: #fff;
	cursor: text;
}

.selectize-input {
	display: inline-block;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.selectize-input.full {
	background-color: #fff;
}

.selectize-input.disabled,
.selectize-input.disabled * {
	cursor: default !important;
}

.selectize-input.focus {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input > * {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;

	*display: inline;
}

.selectize-input > input {
	display: inline-block !important;
	max-width: 100% !important;
	min-height: 0 !important;
	max-height: none !important;
	margin: 0 2px 0 0 !important;
	padding: 0 !important;
	border: 0 none !important;
	background: none !important;
	box-shadow: none !important;
	line-height: inherit !important;
	text-indent: 0 !important;
	-webkit-user-select: auto !important;
}

.selectize-input > input::-ms-clear {
	display: none;
}

.selectize-input > input:focus {
	outline: none !important;
}

.selectize-input::after {
	display: block;
	clear: left;
	content: " ";
}

.selectize-input.dropdown-active::before {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	background: #f0f0f0;
	content: " ";
}

.selectize-dropdown [data-selectable] {
	overflow: hidden;
	cursor: pointer;
}

.selectize-dropdown [data-selectable] .highlight {
	background: rgba(125, 168, 208, 0.2);
}

.selectize-dropdown .optgroup-header,
.selectize-dropdown [data-selectable] {
	padding: 5px 8px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
	border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
	color: #303030;
	background: #fff;
	font-weight: bold;
	cursor: default;
}

.selectize-dropdown .active {
	color: #495c68;
	background-color: #f5fafd;
}

.selectize-dropdown .active.create {
	color: #495c68;
}

.selectize-dropdown .create {
	color: rgba(48, 48, 48, 0.5);
}

.selectize-dropdown-content {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 200px;
}

.customize-control-baltic-color .iris-alpha-slider {
	margin-left: 8px !important;
}

.customize-control-baltic-color input[data-type="hue"] + .iris-strip-horiz .iris-slider {
	background-image: -webkit-linear-gradient(left, red, #ff7f00, yellow, #80ff00, lime, #00ff80, cyan, #007fff, blue, #7f00ff, magenta, #ff0080, red) !important;
}

.customize-control-baltic-color .iris-picker .iris-square-handle {
	z-index: 8;
}

.customize-control-baltic-responsive-slider .wrapper {
	position: relative;
}

.customize-control-baltic-responsive-slider .input-field-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

.customize-control-baltic-responsive-slider input[type=range] {
	height: 5px;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: background 0.3s;
	transition: background 0.3s;

	-webkit-appearance: none;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.customize-control-baltic-responsive-slider input[type=range]:focus {
	outline: none;
	box-shadow: none;
}

.customize-control-baltic-responsive-slider input[type=range]:hover,
.customize-control-baltic-responsive-slider input[type=range]:focus {
	background-color: rgba(0, 0, 0, 0.25);
}

.customize-control-baltic-responsive-slider input[type=range]::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #3498d9;

	-webkit-appearance: none;
}

.customize-control-baltic-responsive-slider input[type=range]::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #3498d9;

	-webkit-appearance: none;
}

.customize-control-baltic-responsive-slider input[type=range]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background-color: #3498d9;
}

.customize-control-baltic-responsive-slider input[type=range]::-ms-thumb {
	width: 15px;
	height: 15px;
	border: 0;
	border-radius: 50%;
	background-color: #3498d9;
}

.customize-control-baltic-responsive-slider input[type=range]::-moz-range-track {
	border: inherit;
	background: transparent;
}

.customize-control-baltic-responsive-slider input[type=range]::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}

.customize-control-baltic-responsive-slider input[type=range]::-ms-fill-lower,
.customize-control-baltic-responsive-slider input[type=range]::-ms-fill-upper {
	background: transparent;
}

.customize-control-baltic-responsive-slider input[type=range]::-ms-tooltip {
	display: none;
}

.customize-control-baltic-responsive-slider .baltic_range_value {
	position: relative;
	padding: 0 0 0 5px;
	font-size: 14px;
	font-weight: 400;
}

.customize-control-baltic-responsive-slider .baltic-responsive-slider-reset {
	display: inline-block;
	position: absolute;
	top: -28px;
	right: 1.5em;
	color: rgba(0, 0, 0, 0.2);
	-webkit-transition: color 0.5s ease-in;
	transition: color 0.5s ease-in;
}

.customize-control-baltic-responsive-slider .baltic-responsive-slider-reset span {
	font-size: 13px;
	line-height: 24px;
}

.customize-control-baltic-responsive-slider .baltic-responsive-slider-reset:hover,
.customize-control-baltic-responsive-slider .baltic-responsive-slider-reset:focus {
	color: red;
}

.baltic_range_value input.baltic-responsive-range-value-input {
	width: 50px;
	height: 22px;
	padding: 3px;
	font-size: 12px;
}

.baltic_range_value .baltic-range-unit {
	margin-left: 5px;
}

.customize-control-baltic-responsive-slider .input-field-wrapper {
	display: none;
}

.customize-control-baltic-responsive-slider .input-field-wrapper.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/**
 * Responsive Icons
 */

.baltic-responsive-slider-btns,
.customize-control-title {
	display: inline-block;
}

.baltic-responsive-slider-btns {
	float: right;
	margin-top: 5px;
	line-height: 1;
}

.baltic-responsive-slider-btns > li {
	display: none;
	margin-bottom: 0;
}

.baltic-responsive-slider-btns > li.active {
	display: inline-block;
}

.baltic-responsive-slider-btns button[type="button"] {
	padding: 0;
	border: none;
	outline: none;
	opacity: 0.75;
	background: none;
	cursor: pointer;
}

.baltic-responsive-slider-btns button[type="button"] > i {
	width: 15px;
	height: 15px;
	font-size: 15px;
}

.customize-control-baltic-responsive-spacing {
	/* Unit Screen wrap */
}

.customize-control-baltic-responsive-spacing .customize-control-title {
	display: inline-block;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-outer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-buttons > li {
	display: none;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-buttons > li.active {
	display: inline-block;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-buttons button[type="button"] {
	padding: 0;
	border: none;
	outline: none;
	opacity: 0.75;
	background: none;
	cursor: pointer;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-buttons button[type="button"] > i {
	width: 15px;
	height: 15px;
	margin-top: 1px;
	font-size: 15px;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-units {
	position: absolute;
	top: 0;
	right: 24px;
	font-size: 11px;
	text-transform: uppercase;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-units li.single-unit {
	display: inline-block;
	width: 16px;
	margin-left: 6px;
	opacity: 0.7;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.customize-control-baltic-responsive-spacing .baltic-spacing-responsive-units li.single-unit.active {
	opacity: 1;
	font-weight: bold;
	text-decoration: underline;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper {
	display: none;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper li {
	text-align: center;

	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper li input.baltic-spacing-input {
	padding-right: 0;
	text-align: center;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper.active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper span.baltic-spacing-title {
	opacity: 0.75;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper .baltic-spacing-input-item-link .baltic-spacing-connected {
	display: none;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper .baltic-spacing-input-item-link.disconnected .baltic-spacing-disconnected {
	display: none;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper .baltic-spacing-input-item-link.disconnected .baltic-spacing-connected {
	display: block;
}

.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper .baltic-spacing-input-item-link span {
	width: 35px;
	height: 38px;
	border: 1px solid #ddd;
	font-size: 14px;
	line-height: 40px;
}

.baltic-spacing-responsive-units-screen-wrap {
	position: absolute;
	top: -20px;
	right: 0;
}

.baltic-responsive-buttons,
.customize-control-title {
	display: inline-block;
}

.baltic-responsive-buttons {
	float: right;
	margin-top: 5px;
	line-height: 1;
}

.baltic-responsive-buttons > li {
	display: none;
	margin-bottom: 0;
}

.baltic-responsive-buttons > li.active {
	display: inline-block;
}

.baltic-responsive-buttons button[type="button"] {
	padding: 0;
	border: none;
	outline: none;
	opacity: 0.75;
	background: none;
	cursor: pointer;
}

.baltic-responsive-buttons button[type="button"] > i {
	width: 15px;
	height: 15px;
	font-size: 15px;
}

.customize-control-baltic-responsive-units .input-wrapper input {
	display: none;
	float: left;
	width: calc(100% - 52px);
}

.customize-control-baltic-responsive-units .input-wrapper input.active {
	display: inline-block;
}

.customize-control-baltic-responsive-units .input-wrapper .baltic-responsive-select {
	display: none;
	width: 50px;
	height: 40px;
	margin: 0;
	margin-left: 2px;
	padding: 0.1em;
}

.customize-control-baltic-responsive-units .input-wrapper .baltic-responsive-input.active + .baltic-responsive-select {
	display: inline-block;
}

.toggle-switch-control .customize-control-title {
	display: inline-block;
}

.toggle-switch {
	float: right;
	position: relative;
	width: 64px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.toggle-switch .toggle-switch-checkbox {
	display: none;
}

.toggle-switch .toggle-switch-label {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 2px solid #ddd;
	border-radius: 20px;
	cursor: pointer;
}

.toggle-switch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-webkit-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 50%;
	height: 22px;
	padding: 0;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
}

.toggle-switch-inner:before {
	padding-left: 8px;
	color: #fff;
	background-color: #2885bb;
	content: "ON";
}

.toggle-switch-inner:after {
	padding-right: 8px;
	color: #999;
	background-color: #eee;
	text-align: right;
	content: "OFF";
}

.toggle-switch-switch {
	display: block;
	position: absolute;
	top: 0;
	right: 38px;
	bottom: 0;
	width: 16px;
	margin: 3px;
	border: 2px solid #ddd;
	border-radius: 20px;
	background: #fff;
	-webkit-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
	margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
	right: 0;
}

.select2-dropdown {
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
}

.select2-container {
	width: 100% !important;
	min-width: 100px;
}

.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below {
	z-index: 9999999;
	min-width: 100px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border: none;
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0);
	background-color: transparent;
}

.wp-customizer .select2-container {
	z-index: 8 !important;
}

.wp-customizer .select2-container.select2-container--open {
	z-index: 999999 !important;
}

@media (min-width: 720px) {
	.customize-control-baltic-responsive-spacing .input-wrapper .baltic-spacing-wrapper .baltic-spacing-input-item-link span {
		height: 26px;
		line-height: 28px;
	}

	.customize-control-baltic-responsive-units .input-wrapper .baltic-responsive-select {
		height: 28px;
	}
}
